@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/georgia/georgiai.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/georgia/Georgia.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/georgia/georgiab.ttf") format("truetype");
  font-weight: 700;
}