@import '../../style//variables.scss';

.roles-transfert-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-bottom: 1.6rem;
  #roles-transfert-list-block {
    width: auto;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    .roles-part-block {
      padding: 0;
      width: 200px;
      border-radius: 5px;
      box-shadow: 0.5px 0.5px 2px rgba(73, 64, 64, 0.14);
      @media screen and (max-width: 801px){
        width: 160px;
      }
      div {
        .list-title {
          font-weight: 600;
          color: $purple;
          margin: 0.8rem;
        }
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          #row-checkbox {
            width: 90%; 
            height: 3.2rem;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            margin-top: 0.4rem;
            @media screen and (max-width: 801px){
              font-size: 2.4rem;
              width: 95%;
            }
            @media screen and (max-width: 601px){
              font-size: 2.4rem;
              width: 98%;
            }
            #user-form-roles-checkbox {
              margin: 0 !important;
              padding: 0 !important;
              width: 2.4rem !important;
              @media screen and (max-width: 801px){
                width: 1.6rem !important;
              }
              span {
                stroke: $purple !important;
                stroke-width: 0.3;
                margin: 0;
                padding: 0;
                svg {
                  width: 3.2rem !important;
                  color: $purple;
                  @media screen and (max-width: 801px){
                    width: 2.4rem !important;
                  }
                }
              }
            }
            .user-form-role-name {
              span {
                font-size: 1.2rem !important;
                @media screen and (max-width: 801px){
                  font-size: 1rem !important;
                }
              }
            }
          }
        }
      }
    }
    .arrows-part-block {
      margin: 0 1.6rem;
      padding: 0;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        button {
          border: 1px solid $blue-green;
          color: $blue-green;
          z-index: 10;
          cursor: pointer;
          @media screen and (max-width: 801px){
            width: 1.6rem !important;
          }
        }
      }
    }
  }
  .update-btn-loading-block {
    display: flex;
    .update-btn {
      margin-right: 1.6rem;
    }
  }
}
