@import '../../style//variables.scss';

#roles-transfert-list-block {
  // border: 3px solid blue;
  margin-top: 3.2rem;
  display: flex;
  justify-content: flex-start;
}

#row-checkbox {
  // border: 1px solid red;
  width: 150px;
  font-size: 1.6rem;
  height: 3.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

#user-form-roles-checkbox {
  .css-hnmzsu-MuiSvgIcon-root {
    stroke: $blue-green;
    stroke-width: 0.5;
    margin: 0;
    padding: 0;
  }
  .MuiListItemText-root  {
    .MuiTypography-root  {
      // border: solid green 1px !important;

    }
  }
};

.css-oj2rb-MuiTypography-root {
  font-size: 1.2rem !important;
}