@import '../../style/variables.scss';

.filtered-search {
  background-color: white;
  .MuiInputBase-adornedEnd {
    background-color: white !important;
  }
  .search-icon {
    color: $blue-light;
  }
}